# Configuración de credenciales del Monitor SIEDCO
GMAIL_USER=
GMAIL_APP_PASSWORD=
EMAIL_DEST=

# Integracion con el Centro de fuentes SISC
SISC_API_URL=https://sisc-backend.onrender.com/api
SISC_SOURCE_MONITOR_KEY=
